span{
    color: yellowgreen;
}
h1{
    font-size: 50px;
}
body{
    font-family: 'Crimson Text', serif;
    margin: 0;
}
.flex1{
    display: flex;
    margin-bottom: 100px;
}
.forbg{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.link-buttom{
    background-image: linear-gradient(orange, red);
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    font-weight: 700;
}
.divclass1{
    width: 50%;
    padding-left: 2%;
}
.secondbg{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: yellow;
}
.boxclass{
    box-shadow: 10px 10px 10px grey;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    width: 50%;
    padding-left: 2%;
    
}
#full-stack{
    margin: 0;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
#babyweb{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
.last{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
}